#chNav{
	background-color: $main-purple;

	#chNL{
		margin-left: 14em;
		margin-top: 20px;

		input{
			background-color: $main-purple;
			width: 400px;
			border: 0px;
			border-bottom: 1px solid purple;
		}

		@include place-holder(purple, italic, 13px, 100, 10px);
	}

	.chA{
		color: $main-gray;

		#glass{
			font-size: 30px;
		}

		#folder{
			font-size: 25px;
		}

		#search{
			position: relative;
			color: $main-gray;
		}
	}
}